body {
	background: #fff url(../gmb/campaign/campaign.JPG);
	position: relative;
}

img:hover {
	opacity: 1;
}

.gamb {
	width: 100%;
	height: auto;
	margin-top: 10%;
}

.gamb img {
	width: 100%;
	height: auto;
}
/*#homeJ{
	position: relative;
    opacity: 0.7;
    left: 0;
    z-index: 9999999;
    margin: 0;
    padding: 0;
    text-align: left;
}*/
#homeJ {
	position: absolute;
	z-index: 20;
	left: 10px;
	bottom: 10px;
}

#BasicDemo {
	background-color: #CCCCFF;
	padding: 10px;
	height: 180px;
	text-align: center;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.5;
	position: relative;
	height: 100%;
}

.swiper-container {
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
}

.swiper-slide .title {
	font-style: italic;
	font-size: 42px;
	margin-top: 80px;
	margin-bottom: 0;
	line-height: 45px;
}

.pagination {
	position: absolute;
	z-index: 20;
	left: 10px;
	top: 10px;
}

.swiper-pagination-switch {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #222;
	margin-right: 5px;
	opacity: 0.1;
	border: 1px solid #fff;
	cursor: pointer;
}

.swiper-pagination-switch:hover {
	opacity: 1;
}

.swiper-visible-switch {
	background: #aaa;
}

.swiper-active-switch {
	background: #aaa;
	opacity: 1;
}