/* Clearfix */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* Basic Styles */
nav {
	height: 40px;
	width: 100%;
	background: #fff;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	border-top: 1px solid #283744;
	border-bottom: 2px solid #283744;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	font-style: italic;
	width: 490px;
	height: 40px;
}

nav li {
	display: inline;
	float: left;
}

nav a {
	color: #000;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	/*text-shadow: 1px 1px 0px #283744;*/
}

nav li a {
	/*border-right: 1px solid #576979;*/
	margin-right: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

nav li:last-child a {
	margin-right: 0;
}

nav a#pull {
	display: none;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	nav {
		height: auto;
	}
	nav ul {
		width: 100%;
		display: block;
		height: auto;
	}
	nav li {
		width: 50%;
		float: left;
		position: relative;
	}
	nav li a {
		border-bottom: 1px solid #576979;
		/*border-right: 1px solid #576979;*/
	}
	nav a {
		text-align: left;
		width: 100%;
		text-indent: 25px;
	}
	.noba {
		display: none;
	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #283744;
		color: #fff;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content: "";
		background: url('../gmb/menu/nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	.noba {
		display: none;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
	.submen ul {
		width: 100%;
		margin-right: 20px;
	}
	.noba {
		display: none;
	}
}

#sub1 {
	line-height: 1;
	font-size: 13px;
}

#sub1, #sub2 {
	display: none;
	position: absolute;
	z-index: 999;
	width: 100%;
}

.submen img {
	width: 100%;
}

.submen ul {
	float: left;
	margin-right: 0;
	background: #FFFFFF;
	padding: 10px 10px;
}

.submen ul:last-child {
	margin-right: 0;
}

.fixed {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
}