div[id*='slider'] {
	position: relative;
	overflow: hidden;
	margin: 20px auto 0 auto;
	border-radius: 4px;
}

div[id*='slider'] ul {
	position: relative;
	margin: 0;
	padding: 0;
	height: auto;
	list-style: none;
}

div[id*='slider'] ul li {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	/*width: 500px;
  height: 300px;*/
	background: none;
	/*line-height: 300px;*/
}

li {
	
}

a.control_prev, a.control_next {
	position: absolute;
	top: 40%;
	z-index: 999;
	display: block;
	padding: 5px;
	width: auto;
	height: auto;
	background: #7a7a7a;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	opacity: 0.2;
	cursor: pointer;
	line-height: 1;
}

a.control_prev:hover, a.control_next:hover {
	opacity: 1;
	-webkit-transition: all 0.2s ease;
}

a.control_prev {
	border-radius: 0 2px 2px 0;
}

a.control_next {
	right: 0;
	border-radius: 2px 0 0 2px;
}

/*.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}*/